<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/appareils"><img class="img-responsive" alt="E-house" src="assets/e-house_logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="appareils">Appareils</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="appareils/state">Statistiques</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signup"><span class="glyphicon glyphicon-user"></span> Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signin"><span class="glyphicon glyphicon-log-in"></span> Connextion</a>
        </li>


        <li *ngIf="isAuth" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
          class="glyphicon glyphicon-user"></span> {{userEmail}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="user"><span class="glyphicon glyphicon-cog"></span> Mes paramètres</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="onSingOut()" *ngIf="isAuth" style="cursor: pointer"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</div>

