<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="text-center">Création de compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <input type="password" id="password" class="form-control" placeholder="Minimum 6 caractères" formControlName="password">
        </div>
      </div>
      <div class="form-group">
        <label for="confirmpassword">Confirmer votre mot de passe</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
          <input type="password" id="confirmpassword" class="form-control" placeholder="Minimum 6 caractères" formControlName="confirmpassword">
        </div>
      </div>
      <div *ngIf="signUpForm.get('password').value!='' && signUpForm.get('confirmpassword').value!='' && signUpForm.get('password').value!=signUpForm.get('confirmpassword').value " class="alert-danger text-center form-group">
        <p>Veuillez bien confirmer votre mot de passe !</p>
      </div>
      <div class="form-group">
        <a routerLink="/auth/signin" class="pull-right">Vous avez déjà un compte ?</a>
      </div>
      <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="signUpForm.invalid || signUpForm.get('password').value!=signUpForm.get('confirmpassword').value">Créer un compte</button>
    </form>
    <p class="text-danger">
      {{errorMessage}}
    </p>
  </div>
</div>
