<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class="text-center">Réinitialisation mot de passe</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse mail</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
          <input type="text" id="email" class="form-control" formControlName="email">
        </div>
      </div>
      <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="signInForm.invalid">Réinitialiser</button>
    </form>
    <p class="text-danger">
      {{errorMessage}}
    </p>
  </div>
</div>
