<div class="row">
  <div class="col-xs-12">
    <h2 *ngIf="appareils.length>0">{{h2Text}}</h2>
    <div class="container-scroll">
      <div class="list-group">
        <div class="list-group-item active" *ngIf="appareils.length>0">
          <div class="input-group">
            <label for="searchAppareil" class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></label>
            <input type="search" class="form-control" id="searchAppareil" placeholder="Vous recherchez un appareil ?" [(ngModel)]="searchAppareil">
          </div>
        </div>
        <div class="list-group-item text-center" *ngIf="(appareils | filter:  'name' : searchAppareil).length === 0 && searchAppareil ">"{{searchAppareil}}" non trouvé !</div>
        <button class="list-group-item" *ngFor="let appareil of appareils | filter : 'name' : searchAppareil | paginate: { itemsPerPage: 5, currentPage: p }; let i=index"
                (click)="onViewAppareil(appareils.indexOf(appareil))">
          <h3 class="list-group-item-heading row col-xs-12">
            <div class="col-xs-2">
              <span [ngClass]="{'glyphicon glyphicon-off' : true, 'text-success' : appareil.isOn, 'text-danger': !appareil.isOn}"></span>
            </div>
            <div class="col-xs-8">
              {{appareil.name}}
            </div>
            <div class="col-xs-2">
              <button class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Modifier l'appareil {{appareil.name}}" (click)="onUpdateAppareil(appareils.indexOf(appareil))">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
              <button class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Supprimer l'appareil {{appareil.name}}" (click)="onConfirmDelete(appareil)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </h3>
        </button>
        <div class="list-group-item-heading text-right" *ngIf="appareils.length>0">
          <pagination-controls previousLabel="Précédent " nextLabel="Suivant" responsive="true" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="row center-block">
      <button class="btn btn-primary col-xs-12 col-sm-3" (click)="onNewAppareil()"><span class="glyphicon glyphicon-plus"></span> Nouvel appareil</button>
      <button class="btn btn-info col-xs-12 col-sm-3" (click)="onStateAppareil()" *ngIf="appareils.length>0"><span class="glyphicon glyphicon-stats"></span> Statistiques</button>
      <button class="btn btn-success col-xs-12 col-sm-3" (click)="onSwitchOnAll()" *ngIf="appareils.length>0"><span class="glyphicon glyphicon-off text-success"></span> Tout allumer</button>
      <button class="btn btn-danger col-xs-12 col-sm-3" (click)="onSwitchOffAll()" *ngIf="appareils.length>0"><span class="glyphicon glyphicon-off text-danger"></span> Tout eteindre</button>
    </div>
  </div>
</div>
